{% extends 'base.html' %}


{% block content %}
<section class="container-fluid" id="register">
  <h3 class="text-uppercase text-center"> REGISTER  </h3>
  {% if form.errors %}
  <div class="alert alert-danger">
    {{form.errors|safe}}
  </div>
  {% endif %}
  <form class="form-horizontal">
    {{crsf_token}}
    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username e.g. myname">
      <p class="help-block">
        {% if form.username.help_text %}
          <div class="text-info small"> {{form.username.help_text|safe}} </div>
        {% endif %}
        {% if form.username.errors %}
          <div class="text-danger small"> {{form.username.errors|safe}} </div>
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="email" class="control-label">E-Mail</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email e.g. user@domain.com">
      <p class="help-block">
        {% if form.email.help_text %}
          <div class="text-info small"> {{form.email.help_text|safe}} </div>
        {% endif %}
        {% if form.email.errors %}
          <div class="text-danger small"> {{form.email.errors|safe}} </div>
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="password1" class="control-label">Password </label>
      <input type="text" class="form-control" id="password1" name="password1" placeholder="Enter your preferred password">
      <p class="help-block">
        {% if form.password1.help_text %}
          <div class="text-info small"> {{form.password1.help_text|safe}} </div>
        {% endif %}
        {% if form.password1.errors %}
          <div class="text-danger small"> {{form.password1.errors|safe}} </div>
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="password2" class="control-label">Confirm Passwords</label>
      <input type="text" class="form-control" id="password2" name="password2" placeholder="Repeat the password above">
      <p class="help-block">
        {% if form.password2.help_text %}
          <div class="text-info small"> {{form.password2.help_text|safe}} </div>
        {% endif %}
        {% if form.password2.errors %}
          <div class="text-danger small"> {{form.password2.errors|safe}} </div>
        {% endif %}
      </p>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-default"> Submit </button>
      <button type="reset" class="btn btn-default"> Reset </button>
    </div>
  </form>

  <div class="text-center">
    <a href="{% url 'login' %}">Have an account? Click here to register</a>
  </div>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}
